*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,skyblue,white);
}
.calculator{
    border:2px solid black;
    padding:20px;
    border-radius: 16px;
    background-color:transparent;
    box-shadow: 0px 3px 15px grey;
}
input{
    width: 300px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 10px grey;
    text-align: right;
    font-size: 40px;
}

input::placeholder{
    color: black;
}
button{
    border: none;
    width:50px;
    height:50px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: black;
    font-size: 20px;
    box-shadow: 0px 2px 8px grey;
    cursor : pointer;
}
.design{
    background-color: orange;
}
.ac{
    color: green;
}
.del{
    color:green;
}
.modulo{
    color: green;
}
.division{
    color: green;
}
.mul{
    color: green;
}
.sub{
    color:green;
}
.plus{
    color: green;
}
button:hover{
    background-color: #e6e6e6;
}
button:active{
    transform: scale(0.95);
}